@import "../../Common.scss";

#sign_in {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  @include breakpoint(max-xxl) {
    gap: 70px;
  }
  @include breakpoint(max-lg) {
    gap: 50px;
  }
}
