@import "../../../Common.scss";

#followed_lists {
  padding-bottom: 79px;
  border-radius: 10px;
  @include breakpoint(max-lg) {
    padding-bottom: 46px;
  }
  @include breakpoint(max-sm) {
    padding-bottom: 28px;
  }
  h1 {
    @extend .poppins_font;
    font-weight: 700;
    font-size: 53.7353px;
    line-height: 81px;
    color: $black-color;
    padding-bottom: 21px;
    @include breakpoint(max-lg) {
      font-size: 42px;
      line-height: 55px;
    }
    padding-bottom: 21px;
    @include breakpoint(max-sm) {
      font-size: 30px;
      line-height: 45px;
    }
  }
  .container {
    @include breakpoint(xxl) {
      padding: 0 80px !important;
    }
    @include breakpoint(max-xxl) {
      padding: 0 40px !important;
    }
    @include breakpoint(max-sm) {
      padding: 0 8px !important;
    }
  }
  .slick-slide {
    padding: 0 40px 0 0 !important;
    @include breakpoint(max-xl) {
      padding: 0 20px 0 0 !important;
    }
  }

  .right_arrow_btn {
    width: 42px;
    height: 42px;
    border: none;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
  }
  .slick-next {
    right: 15px !important;
    top: 130px !important;

    @include breakpoint(max-xl) {
      right: -5px !important;
      top: 110px !important;
    }
    @include breakpoint(max-lg) {
      top: 95px !important;
    }
    @include breakpoint(max-md) {
      top: 80px !important;
    }
    @include breakpoint(max-sm) {
      display: none !important;
      top: -60px !important;
      right: 40px !important;
    }
  }
}
