@import "../../../../../../Common.scss";

#review_item {
  overflow: hidden;
  p {
    @extend .poppins_font;
    font-weight: 275;
    font-size: 18px;
    line-height: 27px;
    color: $black-color;

    @include breakpoint(max-lg) {
      font-size: 16px;
      line-height: 22px;
    }

    @media all and (max-width: 400px) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .review_top {
    margin-bottom: 17px;
    @media all and (max-width: 400px) {
      margin-bottom: 12px;
    }
    .l-1 {
      display: flex;
      align-items: center;
      gap: 30px;
      @media all and (max-width: 400px) {
        gap: 10px;
      }
      h4 {
        @extend .poppins_font;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.04em;
        color: $black-color;
        @include breakpoint(max-lg) {
          font-size: 22px;
          line-height: 30px;
        }

        @media all and (max-width: 400px) {
          font-size: 12px;
          line-height: 18px;
        }
      }

      span {
        @extend .poppins_font;
        display: flex;
        align-items: center;
        gap: 9px;
        font-weight: 300;
        font-size: 20.2736px;
        line-height: 30px;
        color: $black-color;
        @media all and (max-width: 400px) {
          font-size: 9.57708px;
          line-height: 14px;
          gap: 5px;
        }
        img {
          @media all and (max-width: 400px) {
            width: 10.77px;
            height: 10.77px;
          }
        }
      }
    }

    .l-2 {
      h5 {
        @extend .poppins_font;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: $black-color;
        display: flex;
        align-items: center;
        gap: 4px;
        span {
          font-weight: 300;
        }
      }
    }
  }

  
}
